.header {
  display: flex;
  column-gap: 25px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}
.logo img {
  width: 100%;
}

.title {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title h2 {
  color: red;
}